{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>Main</title>
</head>
<body>

    <header>
        <nav class = "navbarOne">
            <ul>
                <li><a href="/reserve">Reserve</a></li>
                <li><a href="news.asp">News</a></li>
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>
            </ul>          
        </nav>
    </header>
    
    <main>
        <h1>Main Page</h1>
        <p>hi and hello and hallo and hola und drod!</p>
    </main>
</body>
</html>