<<<<<<< HEAD
ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  
  .navbarOne {
    background-color: rgba(243, 144, 6, 0.89);
    overflow: hidden; }

h1{
    color:rgb(138, 138, 138)
}
  
=======
h1{
    color: red ;
}
>>>>>>> 347f55ee7edf367acdec5941a30dcc5a8e50da5d
